<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521/XE</property>
        <property name="connection.username">vt</property>
        <property name="connection.password">vt</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">false</property>
        
        <!--
        <property name="hbm2ddl.auto">create-drop</property>
        -->
        
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>        
        
        <mapping class="com.puntodeventa.global.Entity.Cliente" />
        <mapping class="com.puntodeventa.global.Entity.Corte" />
        <mapping class="com.puntodeventa.global.Entity.Country" />
        <mapping class="com.puntodeventa.global.Entity.CredAmort" />
        <mapping class="com.puntodeventa.global.Entity.Munic" />
        <mapping class="com.puntodeventa.global.Entity.Product" />
        <mapping class="com.puntodeventa.global.Entity.Sesion" />
        <mapping class="com.puntodeventa.global.Entity.State" />        
        <mapping class="com.puntodeventa.global.Entity.Usuario" />        
        <mapping class="com.puntodeventa.global.Entity.Venta" />
        <mapping class="com.puntodeventa.global.Entity.VentaDetalle" />
        
    </session-factory>
</hibernate-configuration>             